<% provide :title, "GRADR | Scorecard for #{sanitize params[:url]}" %>
<% content_for :styles do %>
<style>
.page-title{
  display:none;
}
</style>
<% end %>
<% content_for :scripts do %>
   <script src="/assets/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
   <script src="/assets/plugins/jQuery.dropdownSelect.js" type="text/javascript"></script>
   <script src="/assets/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>
   <script>
      jQuery(document).ready(function() {       
         App.init();
      });

      (function($, exports, undefined){
        $(document).ready(function() {
            
            $('select').dropdownSelect();

            var getCsrfToken = function(){
              var r = {};
              r[$('meta[name="csrf-param"]').attr('content')]
                = $('meta[name="csrf-token"]').attr('content');
              return r;
            };

            var handleServerResponse = function(r){
                if (!r)
                  return toastr.error("An unknown error occurred", "");
                if (r.error)
                  return toastr.error(r.error, "");
                window.location.reload();
            };

            var addCriteria = function(){
                var data = getCsrfToken();
                data.name = $('#new-criteria').val();
                $.post('/criteria/create', data, handleServerResponse);
            };

            var removeCriteria = function(id){
              var data = getCsrfToken();
              data.id = id;
              $.post('/criteria/remove', data, handleServerResponse);
            };

            var getScores = function(){
              var scores = {};
              $('.js-score-select').each(function(){
                scores[$(this).data('score_id')] = $(this).val();
              });
              return scores;
            };
            
            var saveScorecard = function(){
              var data = $.extend({
                scores: getScores(),
                gradee_id: $('#scorecard_gradee').val()
              }, getCsrfToken());
              $.post('/scorecard/<%= @scorecard.id %>/save', data, handleServerResponse);
            };

            $('#create-criteria').on('click', addCriteria);
            $('#new-criteria').on('keydown', function(e){
                if (e.keyCode !== 13)
                  return;
                addCriteria();
            });
            $('.js-remove-criterium').on('click', function(){
                var id = $(this).data('criterium-id');
                removeCriteria(id);
            });
            $('#save-scorecard').on('click', saveScorecard);

            $('#invite-gradee').editable({
              type: 'text',
              url: '/scorecard/<%= @scorecard.id %>/invite-gradee',
              success: handleServerResponse,
              send: 'always',
              params: getCsrfToken(),
              name: 'gradee_email',
              placement: 'bottom',
              emptytext: 'Invite new',
              showbuttons: false
            });
         });
      }(jQuery, window));
   </script>
<% end %>
<div class="form-body" style="padding:0px;height:900px;">
 <div class="form-group" style="margin-bottom:0px;">
    <div class="input-group">
      <table style="margin-bottom:4px;" 
          class="table table-bordered table-striped table-condensed flip-content">
         <thead class="flip-content">
            <tr>
               <th>Gradee</th>
               <th></th> 
            </tr>
         </thead>
         <tbody>
            <tr>
               <td style="font-size:11px;max-width:98px;word-wrap:break-word;"> 
                <%= collection_select :scorecard, :gradee, current_user.gradees.uniq,
                                :id, :email, prompt: 'Select one',
                                selected: @scorecard.gradee_id %>
               </td>
               <td>
                 <a class="editable-empty" id="invite-gradee"></a>
               </td>
            </tr>
         </tbody>
      </table>
      <table style="margin-bottom:4px;" 
          class="table table-bordered table-striped table-condensed flip-content">
         <thead class="flip-content">
            <tr>
               <th>Criteria</th>
               <th>Score</th> 
              <th></th>
            </tr>
         </thead>
         <tbody>
            <%current_user.criteria.each do |criterium| %>
            <tr>
               <td style="word-wrap:break-word;">
                <small><%= sanitize criterium.name %></small>
               </td>
               <td> 
                  <%= select('criteria_score', criterium.score_for_scorecard(@scorecard).id, 
                            10.downto(1).to_a,
                            {:selected => criterium.score_for_scorecard(@scorecard).score},
                            :class => 'form-control input-sm js-score-select',
                            :style => 'max-width:51px;padding-left:0px;padding-top:3px;',
                            :'data-score_id' =>
                                criterium.score_for_scorecard(@scorecard).id) %>
               </td>
               <td style="padding-top:11px;">
                <i class="js-remove-criterium icon-remove clickable"
                      data-criterium-id="<%= criterium.id %>"></i>
               </td>
            </tr>
            <% end %>
            <tr>
              <div class="input-group">
                <td colspan="2">
                 <input id="new-criteria" type="text" 
                      class="form-control" placeholder="New Criteria" /> 
                </td>
                <td style="padding-top:11px;">
                  <i id="create-criteria" class="icon-plus clickable"></i>
                </td>
              </div>
            </tr>
         </tbody>
      </table>
    </div>
 </div>
<div class="form-actions right" style="padding:4px 10px;margin-top:0px;"> 
 <button type="submit" id="save-scorecard" class="btn pull-right green">Save</button> 
</div>
