<%= provide :title, 'Dashboard' %>
<%= content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
        $('.recent-activity-chart').each(function(){
          $(this).sparkline($(this).data('activity'), {
              type: 'bar',
		chartRangeMin: 0,
		chartRangeMax: 10});
        });
    });
  </script>
<% end %>
<% if @gradees.length > 0 %>
<div class="portlet box blue">
  <div class="portlet-title">
    Your Gradees
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Gradee</th>
            <th>Recent Activity (avg score)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @gradees.each do |gradee| %>
          <tr>
            <td>
             <%= gradee.email %>
            </td>
            <td>
              <div class="recent-activity-chart" data-activity=<%= gradee.averages_by_grader_since(current_user.id, 3.weeks.ago).to_json %>></div>
            </td>
            <td>
              <%= link_to 'Details', {controller: 'users', action: 'stats', gradee_slug: gradee.slug, grader_slug: current_user.slug} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
<% if @graders.length > 0 %>
<div class="portlet box blue">
  <div class="portlet-title">
    Your Graders 
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Grader</th>
            <th>Recent Activity (avg score)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @graders.uniq.each do |grader| %>
          <tr>
            <td>
             <%= grader.email %>
            </td>
            <td>
              <div class="recent-activity-chart" data-activity=<%= current_user.averages_by_grader_since(grader.id, 3.weeks.ago).to_json %>></div>
            </td>
            <td>
              <%= link_to 'Details', {controller: 'users', action: 'stats', gradee_slug: current_user.slug, grader_slug: grader.slug} %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <%= will_paginate @graders %>
      </table>
    </div>
  </div>
</div>
<% end %>
<div>
  <div class="pull-right">
    <a class="btn blue btn-sm" href="javascript:(function(){var i=document.getElementById('gradr-iframe')||document.createElement('iframe'),u=window.location.href;i.style.position='fixed';i.style.top='50px';i.style.right='10px';i.style.width='200px';i.style.height='800px';i.id='gradr-iframe';i.src='//<%= ENV['APP_URL'] %>/scorecard/?url='+u;if(!document.getElementById('gradr-iframe'))document.body.appendChild(i);}());">
      GRADR
    </a>
    <span class="label label-info">Click and drag to your bookmarks bar to grade any page on the web</span>
  </div><br />
  <hr />
</div>
